<header class="header">
    <a href="/" class="header__link">
        Blog
    </a>

    <nav class="site-nav">
        <ul class="site-nav__list">
            <li class="site-nav__item">
                <a href="/podcast/">Web Standards</a>
            </li>
            <li class="site-nav__item">
                <a href="/articles/">Articles</a>
            </li>
        </ul>
    </nav>
</header>